@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Lemonada&display=swap");

$allerta: "Allerta Stencil", sans-serif;
$lemonada: "Lemonada", cursive;

body main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote {
    display: flex;
    font-family: $lemonada;
    margin: 10px;

    .quote-image {
        width: 30px;
        height: 30px;
        margin: 5px;
    }

    #quote-text {
        text-align: center;
        margin-top: 10px;
    }
}

#author {
    margin: 10px 0px;
    font-family: $allerta;
    font-size: 4rem;
}

#photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#nquote {
    margin-top: 25px;
    border: none;
    background-color: #1f1f1f;
    height: 40px;
    width: 160px;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: white;
        border: solid 2px #1f1f1f;
        color: #1f1f1f;
    }
    &:active {
        transform: scale(0.9);
    }
}
